.environment{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}

.ball{
    width: 50px;
    height:50px;
    border-radius: 50px;
    background-color: rgb(85, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 100px;
    animation:bounce 10s alternate-reverse infinite;
}
.ball-design{
    height: 5px;
    width: 5px;
    background-color: rgb(238, 225, 225);
    border-radius: 100%;
}

#ground{
    border-bottom:  5px solid black;
    height: 2px;
    width: 300px;
    position: absolute;
    margin: auto;
    top: 400px;
    left: 100px
}

@keyframes bounce{
    0%{
       transform: translate(0,100px);
    }
    40%{
        transform: translate(10px,300px);
    }
    60%{
        transform: translate(30px,150px);
    }
    70%{
        transform: translate(70px,300px);
    }
    80%{
        transform: translate(100px,150px);
    }
    90%{
        transform: translate(150px,300px);
    }
    100%{
        transform: translate(0px,100px);
    }
   
}

