@use './Shared';

.item{
    display: flex;
    justify-content: space-between;
    height: 25vh;
    padding: 1em 0;
    border-bottom: 3px solid #E5E5E5;
    @include Shared.anime_card;

    img{
        width: 40%;
        height: 100%;
        display: block;
        @include Shared.anime_img;
    }
    .right{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        h2{
            font-size: 1em;
            margin: 0;
            margin-bottom: .1em;
        }
        .btn_group{
            margin-top: 1.5em;
            .btn_group_2{
                display: flex;
                justify-content: space-around;
                div{
                    background-color: #FFE0B2;
                    width: 2em;
                    height: 1em;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3em;
                    color: red ;
                    cursor: pointer;                    
                    svg{
                        width: .5em;
                    }
                }
                div:hover{
                    background-color: Shared.$btn_increase_and_decrease_hover_bgcolor;
                    @include Shared.btn_transition(background-color);
                }
                p{
                    margin: 0 1em;
                }
            }                
        }
        //remove button
        .btn_group > div:last-of-type{
            margin-top: 1.5em;
            background-color: Shared.$btn-orange_bgcolor;
            color: #fff;
            border-radius: 25px;
            text-align: center;
            padding: .3em 0; 
            font-size: .9em;
            @include Shared.btn_transition(background-color);
            cursor: pointer;
        }
        .btn_group > div:last-of-type:hover{
            background-color: Shared.$btn_orange_hover_bgcolor;
        }
    }
}

@media screen and(max-width:768px){
    .btn_group{
        margin-top: 1.3em !important;
    }
    .btn_group > div:last-of-type{
        margin-top: .8em !important;
        background-color: #FF9800;
        padding: .2em 0 !important; 
    }
}