@use './Shared';

.shopping_cart{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    user-select: none;
    // continue shopping button
    h1{
        margin: 0;
        margin-bottom: 1.5em;
        background-color: #E57373;
        color: #fff;
        padding: .4em 0;
        text-align: center;
        text-transform:uppercase;
        border-radius: 10px;
        font-size: .9em;
        @include Shared.btn_transition(background-color);
        cursor: pointer;
    }
    h1:hover{
        background-color: #aa4d4d;
    }
    .line{
        border-bottom: 3px solid #E5E5E5;
    }
    .checkout_btn_sec{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1.5em;
        .sub_total{
            padding-right: .3em;
            font-weight: 700;
        }
        //black check out button
        div{
            background-color: #222222;
            color: #fff;
            border-radius: 10px;
            padding: .5em .5em;
            display: flex;
            align-items: center;
            justify-content: center;
            @include Shared.btn_transition(background-color);
            cursor: pointer;
            svg{
                 width: .8em;
            }
            p{
                margin-right: .3em;
            }
        }
        div:hover{
            background-color: rgb(88, 86, 86);
        }
    }
}

.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;

    .btn{
        border-radius: 50px;
        text-align: center;
        width: 30vw;
        padding: .5em 0;
        color: #fff;
        @include Shared.btn_transition(background-color);
  
    }
    .sign_in_btn{
        background-color: #FF9800;  
        @extend .btn   
    }
    .sign_in_btn:hover{
        background-color: #915c0e;
    }
    p:last-of-type{
        margin: 1em 0;
    }
    p:first-of-type{
        margin-bottom: 1em;
    }
    .sign_up_btn{
        background-color: #E57373;  
        @extend .btn 
    }
    .sign_up_btn:hover{
        background-color: #9c4848;
    }
}


@media screen and (max-width: 768px){
    .shopping_cart{
        width: 90%;
    }
    .btn{
        width: 50vw !important;
    }
}