+<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Main page admin</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
         <h1> Admin Page</h1>
    
    <div th:if="${not #lists.isEmpty(staffList)}">
        <h2>Staff List</h2>
        <table class="table table-striped">
            <tr>
            	<th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="staff : ${staffList}">
                <td th:text="${staff.id}"><a href="/staff/${staff.id}">Id</a></td>
                <td th:text="${staff.name}">name</td>
                <td th:text="${staff.address}">address</td>
                <td th:text="${staff.email}">email</td>
                <td th:text="${staff.phone}">phone</td>
                
                <td><a th:href="${'/staff/edit/' + staff.id}">Edit</a></td>
                <td><a th:href="${'/staff/delete/' + staff.id}">Delete</a></td>
            </tr>
        </table>

    </div>
    <div class="parent-div">
 	<a th:href="${'/staff/new/'}">Add Staff</a>
</div>
<div class="parent-div">
<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li></div>
    
   
</div>

</body>
</html>